@use "../../vars" as *;

%table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 1em;

  }

  /* provide some minimal visual accomodation for IE8 and below */
  tr {
    background: #B8D1F3;
  }

  // Define the background color for all the ODD background rows
  tr:nth-child(odd) {
    background: #B8D1F3;
  }

  /*  Define the background color for all the EVEN background rows  */
  tr:nth-child(even) {
    background: #DAE5F4;
  }
}

@mixin table-01(
  $table-background: #F6F6F6,
  $table-color: $col-black,
    //$table-row-hover


  $table-border: null,
  $table-has-border: true,
  $table-border-radius: null,
  $table-border-columns: false,
  $table-border-rows: false,
  $table-border-style: solid,

  $th-background: $col-gray-700,
  $th-color: $col-black,
  //$table-head-row-hover

  $th-border: $th-background 1px solid,
  $th-border-style: $table-border-style,
  $table-width: 100%,
  $table-is-fixed: true, //<-- SETS COLUMNS TO ALL EQUAL WIDTH

  $table-padding: 0.25em 0.5em,


    $table-row-stripe-hover: true,
    $table-is-striped: true, // Turn on and off stripes
    $table-striped-background: $col-pink-300,
    $table-stripe: even, // ODD | EVEN


  //$table-foot-background
  //$table-foot-row-hover
  //$table-foot-color
  //$table-stack-breakpoint
  //$show-header-for-stacked

) {
  //////////////////////////////////////////////////
  // TABLE CONTAINER STYLING ///////////////////////
  //////////////////////////////////////////////////
  padding: 2em 0;
  //  //SET WIDTH AND HEIGHT OF CONTAINER TO ENABLE SCROLL
    overflow: auto; //<-- ENABLE SCROLL
    //width: 100%;
  //  //height: 200px;

  table {
    width: $table-width;

    @if ($table-is-fixed) {
      table-layout: fixed;
    }

    p {
      //////////////////////////////////////////////////
      // RESET PADDINGS INSIDE TABLE ///////////////////
      //////////////////////////////////////////////////
      padding: 0;
      margin: 0;
    }

    @if $table-border-radius {
      //////////////////////////////////////////////////
      // IF BORDER RADIUS TRUE /////////////////////////
      //////////////////////////////////////////////////
      border-collapse: separate; //<-- NEEDS TO BE SEPERATE FOR BORDER RADIUS
      border-spacing: 0; //<-- SECRET SAUCE
      tr {
        &:first-child {
          th:first-child {
            border-top-left-radius: $table-border-radius;
          }

          th:last-child {
            border-top-right-radius: $table-border-radius;
          }
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: $table-border-radius;
          }

          td:last-child {
            border-bottom-right-radius: $table-border-radius;
          }
        }
      }
    } @else {
      border-collapse: collapse;
    }

    //////////////////////////////////////////////////
    // GENERAL STYLES ////////////////////////////////
    //////////////////////////////////////////////////

    thead { }

    th {
      /////////////////////////
      // TABLE HEADER /////////
      /////////////////////////
      background-color: $th-background;
      color: $th-color;
      padding: $table-padding;

      text-align: left;
    }

    tr {
      /////////////////////////
      // TABLE ROWS ///////////
      /////////////////////////
      background: $table-background;
      padding: $table-padding;
    }

    td {
      /////////////////////////
      // TABLE DATA ///////////
      /////////////////////////
      padding: $table-padding;
      text-align: left;

    }

    tfoot { }

    @if $table-is-striped {
      //////////////////////////////////////////////////
      // ADD STRIPES TO TABLE //////////////////////////
      //////////////////////////////////////////////////
      tr:nth-child(odd) {
        /*  Define the background color for all the ODD background rows  */
        background: $table-background;

        @if $table-row-stripe-hover {

          &:hover {
            background-color: lighten($table-background, 1%);
          }
        }

      }

      tr:nth-child(even) {
        /*  Define the background color for all the EVEN background rows  */
        background: $table-striped-background;

        @if $table-row-stripe-hover {
          &:hover {
            background-color: lighten($table-striped-background, 1%);
          }
        }
      }

    }

    @if $table-border-rows {
      //////////////////////////////////////////////////
      // BORDERS ///////////////////////////////////////
      //////////////////////////////////////////////////
      th {
        @if $table-border-columns {
          border-bottom: $table-border;
          border-right: $table-border;
          //border-top: $table-border;
          &:first-child {
            border-left: $table-border;
          }

        } @else {

          border: $table-border;
          border-style: $table-border-style;

        }
      }

      tr {

      }

      td {
        //////////////////////////////
        // TABLE DATA ////////////////
        //////////////////////////////
        @if $table-border-columns {
          border-bottom: $table-border;
          border-right: $table-border;
          &:first-child {
            border-left: $table-border;
          }

        } @else {

          border: $table-border;
          border-style: $table-border-style;

        }

      }
    }

  }

}

//.table-01 {
//  @include table-01(
//          $th-background: #362F4B, // 1
//          $th-color: #CAC5D5, // 2
//          $table-padding: 0.5em 2em, // 3
//          $table-border-radius: 10px
//  );
//}


