@use "../../vars" as *;
@use "_table" as *;



@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;

  border-color: transparent;
  border-style: solid;
  border-width: $size / 2;

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}

//.table-01 {
//  @include table-01(
//          $th-background: #362F4B, // 1
//          $th-color: #CAC5D5, // 2
//          $table-padding: 0.5em 2em, // 3
//          $table-border-radius: 10px
//  );
//}
