@use "../../vars" as *;
@use "_index" as *;



.table-00 {
  @include table(
    // CONFIG ///////////////
    /////////////////////////
          $column-width-fixed: false, //<-- SETS COLUMNS TO ALL EQUAL WIDTH
          $table-width: 1014px, // SET TABLE WIDTH
          $table-padding: 0.25em 0.5em, // PADDING FOR TEXT INSIDE TABLE CELLS
          $table-stripes: odd, // odd || even || null
            //$table-stack-breakpoint
            //$show-header-for-stacked

            /////////////////////////
            // COLOURS //////////////
            /////////////////////////
          $table-background: $col-blue-100,
          $table-color: $col-black,
          $th-background: $col-blue-100,
          $th-color: $col-black,
          $table-row-hover: true, // true || false TABLE MOUSE HOVER EFFECT
          $table-row-striped-background: $col-blue-200,
          $th-row-hover: lighten($col-blue-200, 1%),
            /////////////////////////
            // BORDERS //////////////
            /////////////////////////

            //$thead-border-columns: 1px solid #ddd,
          $thead-border-row: 1px solid #DDDDDD, //<-- null || css border
            //$table-border-columns: 1px solid #ddd, //<-- null || css border
          $table-border-rows: 1px solid #DDDDDD, //<-- null || css border
    //  $table-border-radius: 10px, //

  );

}