// https://tailwindcss.com/docs/customizing-colors

$col-black: #000000;
$col-white: #FFFFFF;


$col-gray-100: #F7FAFC;
$col-gray-200: #EDF2F7;
$col-gray-300: #E2E8F0;
$col-gray-400: #CBD5E0;
$col-gray-500: #A0AEC0;
$col-gray-600: #718096;
$col-gray-700: #4A5568;
$col-gray-800: #2D3748;
$col-gray-900: #1A202C;

$col-red-100: #FFF5F5;
$col-red-200: #FED7D7;
$col-red-300: #FEB2B2;
$col-red-400: #FC8181;
$col-red-500: #F56565;
$col-red-600: #E53E3E;
$col-red-700: #C53030;
$col-red-800: #9B2C2C;
$col-red-900: #742A2A;

$col-orange-100:#FFFAF0;
$col-orange-200:#FEEBC8;
$col-orange-300:#FBD38D;
$col-orange-400:#F6AD55;
$col-orange-500:#ED8936;
$col-orange-600:#DD6B20;
$col-orange-700:#C05621;
$col-orange-800:#9C4221;
$col-orange-900:#7B341E;

$col-yellow-100: #FFFFF0;
$col-yellow-200: #FEFCBF;
$col-yellow-300: #FAF089;
$col-yellow-400: #F6E05E;
$col-yellow-500: #ECC94B;
$col-yellow-600: #D69E2E;
$col-yellow-700: #B7791F;
$col-yellow-800: #975A16;
$col-yellow-900: #744210;

$col-green-100: #F0FFF4;
$col-green-200: #C6F6D5;
$col-green-300: #9AE6B4;
$col-green-400: #68D391;
$col-green-500: #48BB78;
$col-green-600: #38A169;
$col-green-700: #2F855A;
$col-green-800: #276749;
$col-green-900: #22543D;

$col-teal-100: #E6FFFA;
$col-teal-200: #B2F5EA;
$col-teal-300: #81E6D9;
$col-teal-400: #4FD1C5;
$col-teal-500: #09c9c3;
$col-teal-600: #319795;
$col-teal-700: #2C7A7B;
$col-teal-800: #285E61;
$col-teal-900: #234E52;

$col-blue-100: #EBF8FF;
$col-blue-200: #BEE3F8;
$col-blue-300: #90CDF4;
$col-blue-400: #63B3ED;
$col-blue-500: #4299E1;
$col-blue-600: #3182CE;
$col-blue-700: #2B6CB0;
$col-blue-800: #2C5282;
$col-blue-900: #2A4365;

$col-indigo-100: #EBF4FF;
$col-indigo-200: #C3DAFE;
$col-indigo-300: #A3BFFA;
$col-indigo-400: #7F9CF5;
$col-indigo-500: #667EEA;
$col-indigo-600: #5A67D8;
$col-indigo-700: #4C51BF;
$col-indigo-800: #434190;
$col-indigo-900: #3C366B;

$col-purple-100: #FAF5FF;
$col-purple-200: #E9D8FD;
$col-purple-300: #D6BCFA;
$col-purple-400: #B794F4;
$col-purple-500: #9F7AEA;
$col-purple-600: #805AD5;
$col-purple-700: #6B46C1;
$col-purple-800: #553C9A;
$col-purple-900: #44337A;

$col-pink-100: #FFF5F7;
$col-pink-200: #FED7E2;
$col-pink-300: #FBB6CE;
$col-pink-400: #F687B3;
$col-pink-500: #ED64A6;
$col-pink-600: #D53F8C;
$col-pink-700: #B83280;
$col-pink-800: #97266D;
$col-pink-900: #702459;