@use '../../vars' as *;

@mixin card-img($size: s, $radius: 0) {
  // @include card-img($size: 10, $radius: 0, $bg: $col-white, $fg: $col-black);
  //.card-img {
  // // APPLY COLORS, SHADOWS HERE
  //  &__image {
  // // ADJUST HEIGHT OF IMAGE HERE
  //  }
  //  &__content {
  // // ADJUST HEIGHT OF CONTENT HERE
  // // ADD PADDING TO TEXT AREA HERE
  //  }
  //  &__heading {
  //  }
  //  &__subheading {
  //  }
  //  &__text {
  //  }
  //}
  .card-img {
    border-radius: $radius;
    &__image {
      height: 50px;
      width: 100%;
      @if $size == 's' {
        height: 220px; //<-- CONTROL SIZE OF CARD IMAGE W/ HEIGHT
      } @else if $size == 'm' {
        height: 250px;
      } @else if $size == 'l' {
        height: 300px;
      } @else if $size == 'xl' {
        height: 400px;
      }
      object-fit: cover;
      border-radius: $radius $radius 0 0;

      &__content {
        padding: 1em;
      }

    }
  }
}
