
@mixin container {
  width: 100%;
  max-width: $site-size-max-width-body;
  min-width: $site-size-min-width-body;
  margin: 0 auto;
}


//
//@mixin container-padding-tb {
//  @include container;
//  padding: $site-size-padding 0;
//}

@mixin section($bg: $site-color-bg-body, $fg: $site-color-fg-body) {
  width: 100%;
  background-color: $bg;
  color: $fg;
}
