@use "../../vars" as *;
@use "btn" as *;

@mixin btn-05(
  $bg: $col-purple-500,
  $fg: $col-white
) {

  @extend %btn;
  background-color: $bg;
  color: $fg;
  border-radius: 3px;

  &:active {
    background-color: $bg;
    color: $fg;
  }

  &:hover {
    //background-color: $bg;
    //color: $fg;
    box-shadow: 0 0 0 1px $bg;

  }
}

//
//
//.btn-05 {
//  @include btn-05;
//
//  &--primary {
//    @include btn-05($col-black, $col-white);
//  }
//
//  &--secondary {
//    @include btn-05($col-gray-800, $col-white);
//  }
//
//  &--success {
//    @include btn-05($col-success, $col-white);
//  }
//
//  &--warning {
//    @include btn-05($col-warning, $col-white);
//  }
//
//  &--alert {
//    @include btn-05($col-alert, $col-white);
//  }
//}