@use "../../vars" as *;
@use "btn" as *;

@mixin sf-btn-04(
  $bg: $col-black,
  $fg: $col-white,
  $bg-page: $col-white
) {

  @extend %btn;
  background-color: $bg;
  color: $fg;
  &:active {

  }

  &:hover {
    box-shadow: 0 0 0 2px $bg-page, 0 0 0 4px $bg;
  }
}

//.btn-04 {
//  @include btn-04;
//
//  &--primary {
//    @include btn-04($col-black, $col-white);
//  }
//
//  &--secondary {
//    @include btn-04($col-gray-800, $col-white);
//  }
//
//  &--success {
//    @include btn-04($col-success, $col-white);
//  }
//
//  &--warning {
//    @include btn-04($col-warning, $col-white);
//  }
//
//  &--alert {
//    @include btn-04($col-alert, $col-white);
//  }
//}
