@use "../../vars" as *;
//////////////////////////////////////////////////
// BUTTON PLACEHOLDER ////////////////////////////
//////////////////////////////////////////////////

%btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;

  &:active { }

  &:hover { }
}

@mixin sf-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;

  &:active { }

  &:hover { }
}

