.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--primary {
  background-color: #000000;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--primary:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #000000;
}

.btn--primary:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.btn--secondary {
  background-color: #2D3748;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--secondary:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #2D3748;
}

.btn--secondary:hover {
  background-color: rgba(45, 55, 72, 0.9);
}

.btn--success {
  background-color: #48BB78;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--success:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #48BB78;
}

.btn--success:hover {
  background-color: rgba(72, 187, 120, 0.9);
}

.btn--warning {
  background-color: #DD6B20;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--warning:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #DD6B20;
}

.btn--warning:hover {
  background-color: rgba(221, 107, 32, 0.9);
}

.btn--alert {
  background-color: #C53030;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--alert:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #C53030;
}

.btn--alert:hover {
  background-color: rgba(197, 48, 48, 0.9);
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--primary {
  background-color: #000000;
  color: #f5f5f5;
  border-radius: 3px;
}

.btn--primary:active {
  background-color: #000000;
  color: #f5f5f5;
}

.btn--primary:hover {
  background-color: #000000;
  box-shadow: 2px 2px 0px #f5f5f5, 4px 4px 0px #000000;
  top: -4px;
  left: -4px;
}

.btn--secondary {
  background-color: #2D3748;
  color: #f5f5f5;
  border-radius: 3px;
}

.btn--secondary:active {
  background-color: #2D3748;
  color: #f5f5f5;
}

.btn--secondary:hover {
  background-color: #2D3748;
  box-shadow: 2px 2px 0px #f5f5f5, 4px 4px 0px #2D3748;
  top: -4px;
  left: -4px;
}

.btn--success {
  background-color: #48BB78;
  color: #f5f5f5;
  border-radius: 3px;
}

.btn--success:active {
  background-color: #48BB78;
  color: #f5f5f5;
}

.btn--success:hover {
  background-color: #48BB78;
  box-shadow: 2px 2px 0px #f5f5f5, 4px 4px 0px #48BB78;
  top: -4px;
  left: -4px;
}

.btn--warning {
  background-color: #DD6B20;
  color: #f5f5f5;
  border-radius: 3px;
}

.btn--warning:active {
  background-color: #DD6B20;
  color: #f5f5f5;
}

.btn--warning:hover {
  background-color: #DD6B20;
  box-shadow: 2px 2px 0px #f5f5f5, 4px 4px 0px #DD6B20;
  top: -4px;
  left: -4px;
}

.btn--alert {
  background-color: #C53030;
  color: #f5f5f5;
  border-radius: 3px;
}

.btn--alert:active {
  background-color: #C53030;
  color: #f5f5f5;
}

.btn--alert:hover {
  background-color: #C53030;
  box-shadow: 2px 2px 0px #f5f5f5, 4px 4px 0px #C53030;
  top: -4px;
  left: -4px;
}