.btn-05--primary, .btn-05--secondary, .btn-05--success, .btn-05--warning, .btn-05--alert {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--primary {
  background-color: #000000;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--primary:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #000000;
}

.btn--primary:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.btn--secondary {
  background-color: #2D3748;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--secondary:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #2D3748;
}

.btn--secondary:hover {
  background-color: rgba(45, 55, 72, 0.9);
}

.btn--success {
  background-color: #48BB78;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--success:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #48BB78;
}

.btn--success:hover {
  background-color: rgba(72, 187, 120, 0.9);
}

.btn--warning {
  background-color: #DD6B20;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--warning:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #DD6B20;
}

.btn--warning:hover {
  background-color: rgba(221, 107, 32, 0.9);
}

.btn--alert {
  background-color: #C53030;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn--alert:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 3px 0 #C53030;
}

.btn--alert:hover {
  background-color: rgba(197, 48, 48, 0.9);
}

.btn-05 {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}

.btn-05--primary {
  background-color: #000000;
  color: #f5f5f5;
}

.btn-05--primary:hover {
  box-shadow: 0 0 0 2px #f5f5f5, 0 0 0 4px #000000;
}

.btn-05--secondary {
  background-color: #2D3748;
  color: #f5f5f5;
}

.btn-05--secondary:hover {
  box-shadow: 0 0 0 2px #f5f5f5, 0 0 0 4px #2D3748;
}

.btn-05--success {
  background-color: #48BB78;
  color: #f5f5f5;
}

.btn-05--success:hover {
  box-shadow: 0 0 0 2px #f5f5f5, 0 0 0 4px #48BB78;
}

.btn-05--warning {
  background-color: #DD6B20;
  color: #f5f5f5;
}

.btn-05--warning:hover {
  box-shadow: 0 0 0 2px #f5f5f5, 0 0 0 4px #DD6B20;
}

.btn-05--alert {
  background-color: #C53030;
  color: #f5f5f5;
}

.btn-05--alert:hover {
  box-shadow: 0 0 0 2px #f5f5f5, 0 0 0 4px #C53030;
}